/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    /* serif, cursive, fantasy, monospace */
}

nav{
    padding: 0.8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;

    background-color: #002540;
    color: white;
}

nav > ul > li{
    list-style-type: none;
}


nav .nav, nav .nav-logo{
    margin: 0.5rem;
    display: inline;
}

nav .nav{
    float: right;
}

#intro{
    padding: 2rem 10% 3em 10%;
    text-align: center;
}

.header{
    text-align: center;
}

#intro h2, #intro p{
    margin-bottom: 1rem;
}

#intro button{
    background-color: red;
    color: #bee7e8;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 25px;
}

#succeed-info{
    padding: 2rem 10% 3em 10%;
}

#succeed-info h2{
    margin-bottom: 1rem;
}

#succeed-info h3{
    text-align: center;
    margin-bottom: 1rem;
}

#succeed-info .card{
    display: inline-block;
    vertical-align: top;
    min-height: 175px;
    width: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#pre-footer{
    padding: 1rem;
    background-color: #002540;
    color: white;
}

#pre-footer div{
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
}

#pre-footer > div > h3, #pre-footer > div > p{
    margin-bottom: 0.5rem;
}

footer{
    padding: 0.7rem;
}

footer span{
    margin: 0 0.5rem;
}